 <!-- panel_reservas_porID.html -->


<style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
    
    .tittle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    
</style>

<style type="text/css">a {text-decoration: none}</style>


<div class="lista" style="width: 80%">
    <div class="tittle">
        <h3 class="1">Reservas </h3>
        <h3 style="text-align: right;" class="2">
            ID reserva &nbsp; &nbsp; <input type="text" ng-model="id_filtro_reserva" style="height: 2em; text-align: right;">
            &nbsp; &nbsp;
            <br/>
        <h3>
            <a href="../../modules/reservas/post_colectivas.html" style="text-align: right;"><strong>agregar reserva</strong></a>
        </h3>
    </h3>
    </div>
    
   
    <br/>
    <table>
      <tr>
        <th>ID</th>
        <th>Fecha incio estadia</th>
        <th>Duración</th>
        <th>Costo Total</th>
        <th></th>
      </tr>

      <tr ng-repeat="reserva in reservasID | orderBy: 'id' | filter: id_filtro_reserva"  >
          <td><a >{{reserva.id}}</a></td>
          <td>{{reserva.fecha_inicio_estadia}}</td>
          <td>{{reserva.duracion}} &nbsp; dias</td>
          <td>{{reserva.costo_total | currency}}</td>
          <td> <a ui-sref="eliminar_reserva" style="color: gray; font-size: 80%; text-align: right">cancelar</a></td>
      </tr>
        
        <div ui-view ></div>
        
    </table>
    
</div>





<!--
        <th>ID</th>
        <th>Tipo Inmueble</th>
        <th>Fecha Registro</th>
        <th>Fecha Inicio Estadia</th>
        <th>Fecha Cancelacion</th>
        <th>Duracion Contrato</th>
        <th>Cantidad Personas</th>
        <th>Costo Total</th>
        <th></th>
-->





