<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Alohandes </title>

    <style>
        * {
            overflow-x: hidden;
        }

        header {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(../../style/resources/uniandes.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 110vh;
            width: 100%;
            overflow-y: hidden;
        }

        .login {
            margin: auto;
            color: gray;
            width: 32em;
            height: 80%;
            background-color: white;
            border-radius: 0.5em;
        }

        h3,
        p {
            color: #555;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    </style>

    <!-- fonts importa fonst de google fonts :: Merriweather y Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

</head>

<body>

    <header ng-app="post_colectivasModule">

        <h3 style="padding-top: 0.5em; padding-left: 2em;"><a href="../../index.html" style="color: whitesmoke; text-decoration: none">inicio</a></h3>

        <div class="login" ng-controller="post_colectivasController">

            <div style="grid-area: space"> &nbsp; </div>
            <div style="text-align: center;">
                <h3 style="font-weight: 300">Registrar Reserva Colectiva</h3>
            </div>

            <!-- ID RESERVA COLECTIVA -->
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em;"><input type="number" required style="width: 96%; height: 2.5em;" placeholder="ID Reserva Colectiva" ng-model="id"> </div>

            <!-- DURACION -->
            <div style="height: 2em; padding-left: 1em; grid-area: apellido; margin-bottom: 2em;"><input type="number" required style="width: 96%; height: 2.5em;" placeholder="Duracion de la reserva en dias" ng-model="duracion"> </div>

            <!-- FECHA INICIO ESTADIA -->
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Fecha Inicio Estadia YYYY-MM-DD" ng-model="fecha"> </div>
            
            <!-- TIPO INMUEBLE -->
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Tipo inmueble" ng-model="tipo"> </div>

            <!-- PRIVACIDAD -->
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Privacidad {sencilla, compartida}" ng-model="privacidad"> </div>

            <!-- CANTIDAD INMUEBLES -->
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em;"><input type="number" required style="width: 96%; height: 2.5em;" placeholder="Cantidad Inmuebles" ng-model="cantidad"> </div>
            
            <!-- SERVICIOS DESEADOS -->
            <p style="padding-left: 1em;">Servicios Deseados</p>
            <textarea style="padding-left: 1em;" ng-model="servicios" ng-list="&#10;" ng-trim="false" placeholder="Nombre un servicio por linea, separandolos con un break"></textarea>

            <!-- USUARIOS INVOLUCRADOS -->
            <p style="padding-left: 1em;">Usuarios</p>
            <div style="height: 2em; padding-left: 1em;  margin-bottom: 2em; height: 10em;">
                <table class="table" style="width: 80%; font-size: 80%; overflow-x: scroll;">
                    <tr>
                        <th>ID Usuario</th>
                        <th>ID Reserva</th>
                        <th>Cantidad Personas</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in invoice.items">
                        <td>
                            <input type="number" ng-model="item.id_cliente" ng-required>
                        </td>
                        <td>
                            <input type="number" ng-model="item.id_reserva" ng-required>
                        </td>
                        <td>
                            <input type="number" ng-model="item.cantidad_personas" ng-required>
                        </td>
                        <td>
                            <a href ng-click="removeItem($index)" style="text-decoration: none; color: gray;"><strong>-</strong></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href ng-click="addItem()" style="text-decoration: none; color: gray"><strong>+</strong></a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            
            


            <!-- ENVIAR ../../index.html -->
            <div style="height: 2em; padding-left: 1em; text-align: center; "> <a href="" ng-click="enviar()" style="text-decoration: none; color: darkgray; padding-bottom: 1em; margin-bottom: 2em;"> ENVIAR</a> </div>

        </div>

    </header>

    <!-- ANGULAR UI ROUTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <!-- CLIENTES -->
    <script src="../clientes/clientes.mod.js" type="text/javascript"></script>

    <!-- OPERADORES -->
    <script src="../operadores/operadores.mod.js" type="text/javascript"></script>

    <!-- RESERVAS -->
    <script src="reservas.mod.js" type="text/javascript"></script>

    <!-- PROPUESTAS -->
    <script src="../propuestas/propuestas.mod.js" type="text/javascript"></script>

    <!-- log in -->
    <script src="../login/login.mod.js" type="text/javascript"></script>
    
    <!-- REGISTRAR RESERVA -->
    <script src="post_colectivas.mod.js" type="text/javascript"></script>

    <!-- REGISTRAR PROPUESTA -->
    <script src="../propuestas/post_propuesta.mod.js" type="text/javascript"></script>

    <script src="../../app.js"></script>

</body>

</html>
