* {
	font-family: 'Inconsolata', monospace;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    overflow-x: hidden;
}



/* HEADER */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.0)), url(resources/fondos/bogota.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

div.logo {
	display: block;
	margin: auto;
	width: 35em;
	height: 35em;
	background-image: url(resources/logo/SVG/icon.svg);
	background-repeat: no-repeat;
}

i.head_arrow_icon {
	color: white;
	font-size: 50px;
	display: block;
	text-align: center;
}
/* END HEADER */




/* USER SELECTION */



/* END USER */







/* CITIES MAIN */

div.cities {
	background-color: white;
}

/* END CITIES MAIN */






/* FILEDS RESERVATION */

div.reservation {
	background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.0)), url(resources/fondos/rock.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 70vh;
}

/* END RESERVATION */






/* FOOTER  */

footer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.80)), url(resources/fondos/plane.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
}

/* END FOOTER */








