
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


<div class="lista" ng-module="propuestaModule"> 
    <h3 style="text-align: right;" ng-controller="propuestasController">
    ID operador &nbsp; &nbsp; <input ng-model="id_operador" type="text" id="id_cliente" value="1" style="height: 2em; text-align: right;">
        &nbsp; &nbsp;
        <a href="operadores_menu.html" style="color: gray;">enviar</a>
        <br/>
        <h3>
            <a style="text-align: right;" href="login.html"><strong>agregar propuesta</strong></a>
        </h3>
    </h3>
   
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Relacion con la Universidad</th>
      </tr>

      <tr ng-repeat="operador in operadores | orderBy : 'id'"  >
          <td>{{operador.id}}</td>
          <td>{{operador.nombre}} {{operador.apellido}}</td>
          <td>{{operador.tipo}}</td>
      </tr>
    </table>
    
</div>


