<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
    <title> Alohandes </title>

	<style>
		*{
			overflow-y: hidden;
			overflow-x: hidden;
		}
		header {
			background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(../../style/resources/uniandes.jpg);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100vh;
            width: 100%;
		}
		
		.login {
			margin: auto;
			color: gray;
			width: 30em;
			background-color: white;
			border-radius: 0.5em;
		}
        
        h3 {
            color: #555;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }

	</style>
    
    <!-- fonts importa fonst de google fonts :: Merriweather y Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

</head>

<body>

	<header ng-app="loginModule">
        
        <h3 style="padding-top: 2em; padding-left: 2em;"><a href="../../index.html" style="color: whitesmoke; text-decoration: none">inicio</a></h3>
		
		<div class="login" ng-controller="loginController">
			
			<div style="grid-area: space"> &nbsp; </div>
			<div style="text-align: center; grid-area: lbl"><h3 style="font-weight: 300">REGISTRAR USUARIO</h3></div>
            
			<div style="height: 2em; padding-left: 1em; grid-area: nombre; margin-bottom: 2em;"><input type="number" required style="width: 96%; height: 2.5em;" placeholder="ID" ng-model="id"> </div>
			
            <div style="height: 2em; padding-left: 1em; grid-area: apellido; margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Nombre" ng-model="nombre"> </div>
			
            <div style="height: 2em; padding-left: 1em; grid-area: email; margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Apellido" ng-model="apellido"> </div>
            
            <div style="height: 2em; padding-left: 1em; grid-area: email; margin-bottom: 2em;"><input type="email" required style="width: 96%; height: 2.5em;" placeholder="Email" ng-model="email"> </div>
            
            <div style="height: 2em; padding-left: 1em; grid-area: email; margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Rol {cliente, operador}" ng-model="rol"> </div>
            
            <div style="height: 2em; padding-left: 1em; grid-area: email; margin-bottom: 2em;"><input type="text" required style="width: 96%; height: 2.5em;" placeholder="Relacion con la universidad {estudiante, empleado, profesor, padre, egresado}" ng-model="tipo"> </div>
                        
            <div style="height: 2em; padding-left: 1em; grid-area: nombre; margin-bottom: 2em;"><input type="number" required style="width: 96%; height: 2.5em;" placeholder="Cedula" ng-model="cedula"> </div>
			
            <div style="height: 2em; padding-left: 1em; grid-area: sp;"> &nbsp; </div>
			<div style="height: 2em; padding-left: 1em; grid-area: enviar; text-align: center; "> <a href="../../index.html" ng-click="enviar()" style="text-decoration: none; color: darkgray; padding-bottom: 1em; margin-bottom: 2em;"> ENVIAR</a> </div>
            
		</div>

	</header>

    <!-- ANGULAR UI ROUTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <!-- CLIENTES -->
    <script src="../clientes/clientes.mod.js" type="text/javascript"></script>

    <!-- OPERADORES -->
    <script src="../operadores/operadores.mod.js" type="text/javascript"></script>
    
    <!-- log in -->
    <script src="login.mod.js" type="text/javascript"></script>
    
    <!-- RESERVAS -->
    <script src="../reservas/reservas.mod.js" type="text/javascript"></script>

    <!-- PROPUESTAS -->
    <script src="../propuestas/propuestas.mod.js" type="text/javascript"></script>
    
    <!-- REGISTRAR RESERVA -->
    <script src="../reservas/post_colectivas.mod.js" type="text/javascript"></script>

    <!-- REGISTRAR PROPUESTA -->
    <script src="../propuestas/post_propuesta.mod.js" type="text/javascript"></script>

    <script src="../../app.js"></script>
    
</body>

</html>
